*{
    padding:0%;
    margin:0%;
}
html,body{
    height: 100%;
    width:100%;
}
.main{
    height:100vh;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(82, 82, 82);
    
}
.input{
    display:none;

}
.btn{
    font-size: 20px;
    font-weight: 800;
    border:2px solid black;
    height:50px;
    width:200px;
    border-radius:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(54, 80, 71);
    color:snow;
    font-family: cursive;
    
}