*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:#f4f4f4;
}

.container{
background:white;
padding:30px;
border-radius:10px;
width:320px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}

h2{
text-align:center;
margin-bottom:20px;
}

input{
width:100%;
padding:10px;
margin-top:10px;
border:1px solid #ccc;
border-radius:5px;
font-size:14px;
}

button{
width:100%;
margin-top:15px;
padding:10px;
background:#007BFF;
border:none;
color:white;
font-size:16px;
border-radius:5px;
cursor:pointer;
transition:0.15s ease;
transform:translateZ(0);
touch-action:manipulation;
}

button:hover{
background:#0056b3;
}

button:active{
transform:scale(0.96);
}
.error{
display:none;
color:red;
font-size:12px;
margin-top:3px;
}
h4{
display:none;
color:green;
text-align:center;
margin-top:10px;
}